/*styles for assignment 3
Author: Nick Taglianetti*/
body {
  background-color: #1c2957;
  font-family: monospace;
  color: #cdb87d;
  width: 600px;
  margin: 150px auto 0;
  height: 300px;
}

.flash {
  animation-name: flash;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

@keyframes flash {
    from {color: #FFB612;}
    to {color: black;}
}

.Pittsburghify {
  margin-left: 100px;
  margin-right: 100px;
}

.Pittsburghify>h2:hover {
  font-style: italic;
  color: #FFB612;
}

footer {
  margin-top: 175px;
}
